<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ServiceGSMApp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ServiceGSMApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ServiceGSMApp.Properties.Settings.conn" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=Baza;Persist Security Info=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
    <userSettings>
        <ServiceGSMApp.Settings>
            <setting name="sqlsource" serializeAs="String">
                <value />
            </setting>
            <setting name="sqldatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="sqlusername" serializeAs="String">
                <value />
            </setting>
            <setting name="sqlpassword" serializeAs="String">
                <value />
            </setting>
            <setting name="sqlssl" serializeAs="String">
                <value />
            </setting>
        </ServiceGSMApp.Settings>
        <ServiceGSMApp.Properties.Settings>
            <setting name="FileString" serializeAs="String">
                <value />
            </setting>
            <setting name="NameOrg" serializeAs="String">
                <value />
            </setting>
            <setting name="AdressOrg" serializeAs="String">
                <value />
            </setting>
            <setting name="ContactOrg" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeOrg" serializeAs="String">
                <value />
            </setting>
            <setting name="Diagnostic" serializeAs="String">
                <value />
            </setting>
            <setting name="Administraton" serializeAs="String">
                <value />
            </setting>
            <setting name="receptnow" serializeAs="String">
                <value />
            </setting>
        </ServiceGSMApp.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<probing privatePath="lib" />
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>